<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    <div class="container container-fluid">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %>, <%= user %></p>
      <form method="post">
        <div class="form-control">
          <label>
            Name:
            <input name="name" type="text"/>
          </label>
        </div>
        <br>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
